// aside
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 2px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all .4s ease;
  &.open{
    left: 0;
  }
  .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    a {
      color: var(--text-black-900);
      font-weight: 700;
      padding: 15px 20px;
      font-size: 30px;
      letter-spacing: 5px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-bottom: 5px solid var(--skin-color);
        border-left: 5px solid var(--skin-color);
        bottom: -10px;
        left: -10px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-top: 5px solid var(--skin-color);
        border-right: 5px solid var(--skin-color);
        top: 0;
        right: 0;
      }
      span {
        font-family: "Clicker Script", cursive;
        font-size: 45px;
        margin-right: 5px;
        color: var(--skin-color);
        font-weight: bold;
      }
    }
  }
  .nav-toggler {
    height: 40px;
    width: 50px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    align-items: center;
    justify-content: center;
    display: none;
    transition: all .4s ease;
    &.open{
      left: 300px;
      span{
        background-color: transparent;  
        &::before{
          transform: rotate(45deg);
          top: 0;
        }
        &::after{
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
    span {
      height: 2px;
      width: 18px;
      background: var(--skin-color);
      display: inline-block;
      position: relative;
      transition: all .2s ease;
      left: 0;
      &::before {
        content: "";
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        position: absolute;
        top: -6px;
      }
      &::after {
        content: "";
        height: 2px;
        width: 18px;
        background: var(--skin-color);
        position: absolute;
        top: 6px;

      }
    }
  }
  .nav {
    li {
      margin-bottom: 25px;
      display: block;
      a {
        font-size: 16px;
        font-weight: 600;
        display: block;
        border-bottom: 1px solid var(--bg-black-50);
        color: var(--text-black-900);
        padding: 5px 15px;
        &.active {
          color: var(--skin-color);
        }
        i {
          margin-right: 15px;
        }
      }
    }
  }
}
