// Portofolio

.portofolio {
  .container {
    padding-bottom: 40px;
  }

  .List__filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
    .list__item {
      all: unset;
      padding: 7px 22px;
      border-radius: 5px;
      color: var(--bg-black-900);
      font-weight: 500;
      background-color: var(--text-black-900);
      font-family: "Cairo", sans-serif;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background-color: var(--skin-color);
      }
      @media (max-width: 600px) {
        padding: 7px 15px;
      }
      @media (max-width: 330px) {
        padding: 7px 10px;
      }
      @media (max-width: 300px) {
        padding: 6px;
      }
    }
    .active-list {
      background-color: var(--skin-color);
      color: #fff;
      font-weight: bold;
    }
  }

  .portofolio-item {
    flex: 0 0 100%;
    max-width: 50%;
    margin-bottom: 30px;

    .portofolio-item-inner {
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.3s;

      &:hover {
        border-radius: 200px;
      }

      &:hover .portofolio-img .view {
        opacity: 1;
      }

      &:hover .portofolio-img .view .demoLink {
        top: 30%;
      }

      &:hover .portofolio-img .view .gitLink {
        bottom: 30%;
      }

      .portofolio-img {
        position: relative;

        img {
          width: 100%;
          display: block;
        }

        .view {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100%;
          transition: all 0.3s;
          opacity: 0;

          h6 {
            font-size: 30px;
            color: #fff;
            font-weight: 500;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            i {
              position: relative;
              top: 2px;
            }
          }
          .demoLink,
          .gitLink {
            position: absolute;
            transform: translate(-50%, -50%);
            cursor: pointer;
            width: 100%;
            transition: all 0.5s;
          }
          .demoLink {
            top: 0%;
            left: 50%;
          }
          .gitLink {
            bottom: 0%;
            left: 50%;
          }
        }

        .view_car {
          background: linear-gradient(to left, #111213, #1d2b45);
        }

        .view_burger {
          background: linear-gradient(to right, #434343, #000000);
        }

        .view_coza_store {
          background: linear-gradient(to top, #e7e9bb, #403b4a);
        }

        .view_go_study {
          background: linear-gradient(to top, #fc6767, #ec008c);
        }

        .view_coffe {
          background: linear-gradient(to top, #414345, #232526);
        }

        .view_business {
          background: linear-gradient(to right, #2c3e50, #bdc3c7);
        }

        .view_tast_it {
          background: linear-gradient(to top, #f5af19, #f12711);
        }

        .view_Weather_App {
          background: linear-gradient(to right, #e7cf88, #b47f36);
        }
        .view_DashBoard {
          background: linear-gradient(180deg, #8624db, #ff9066);
        }
        .view_watchShop {
          background: linear-gradient(180deg, #ff2020, #ccc);
        }
        .view_AppleStore {
          background: linear-gradient(to right, gray, #333);
        }
        .view_todolist {
          background: linear-gradient(to right, #30b1cb, #157b8f);
        }
        .viewGoogle {
          background: linear-gradient(to left, #eee, #ddd);
        }
        .view_foodDelivery {
          background: linear-gradient(to bottom, #df2020 65%, #fde4e4);
        }

        .view_ChatApp {
          background: linear-gradient(150deg, #d9dbe2, #808aac 100%, #282d39 0);
        }
      }
    }
  }
}
