// Portofolio

.portofolio {
  .container {
    padding-bottom: 40px;
  }

  .List__filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
    .list__item{
      all: unset;
      padding: 7px 22px;
      border-radius: 5px;
      color: var(--bg-black-900);
      font-weight: 500;
      background-color: var(--text-black-900);
      font-family: 'Cairo', sans-serif;
      cursor: pointer;
      transition: .2s;
      &:hover{
      background-color: var(--skin-color);
      }
    }
    .active-list{
      background-color: var(--skin-color);
      color: #fff;
      font-weight: bold;
    }
  }

  .portofolio-item {
    flex: 0 0 100%;
    max-width: 50%;
    margin-bottom: 30px;

    .portofolio-item-inner {
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.3s;

      &:hover {
        border-radius: 200px;
      }

      &:hover .portofolio-img .view {
        opacity: 1;
      }

      &:hover .portofolio-img .view h6 {
        top: 50%;
        cursor: pointer;
      }

      .portofolio-img {
        position: relative;

        img {
          width: 100%;
          display: block;
        }

        .view {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100%;
          transition: all 0.3s;
          opacity: 0;

          h6 {
            font-size: 30px;
            color: #fff;
            font-weight: 500;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .5s;

            i {
              position: relative;
              top: 2px;
            }
          }
        }

        .view_car {
          background: linear-gradient(to left, #111213, #1d2b45);
        }

        .view_burger {
          background: linear-gradient(to right, #434343, #000000);
        }

        .view_coza_store {
          background: linear-gradient(to top, #E7E9BB, #403B4A);
        }

        .view_go_study {
          background: linear-gradient(to top, #fc6767, #ec008c);
        }

        .view_coffe {
          background: linear-gradient(to top, #414345, #232526);
        }

        .view_business {
          background: linear-gradient(to right, #2c3e50, #bdc3c7);
        }

        .view_tast_it {
          background: linear-gradient(to top, #f5af19, #f12711);
        }

        .view_Weather_App {
          background: linear-gradient(to right, #e7cf88, #b47f36);
        }

        .view_todolist {
          background: linear-gradient(to left, #38ef7d, #11998e);
        }
      }
    }
  }
}