@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
body.dark{
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
  
}


body {
  margin: 0;
  padding: 0;
  direction: ltr;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

::selection{
  color: #fff;
  background-color: var(--skin-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, rgba(51, 51, 51, 0.685), #ddd);
  border-radius: 5px;
  height: 300px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left , #333, #e8dfec);
}

::-webkit-scrollbar-track {
  background: #ddd;
}

// All Sections
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  &.back-section{
    z-index: 1;
  }
  &.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
    @keyframes slideSection {
      0%{transform: translateX(100%);}
      100%{transform: translateX(0%);}
    }
  }
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;

  h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: bold;
    position: relative;
    &::before {
      content: "";
      height: 4px;
      width: 50px;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
    }
    &::after {
      content: "";
      height: 4px;
      width: 25px;
      background-color: var(--skin-color);
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
    }
  }
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: auto;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
    color: #fff;
  }
}
