:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    // --skin-color1 : #ec1839;
    // --skin-color2 : #fa5b0f;
    // --skin-color3 : #37b182;
    // --skin-color4 : #1854b4;
    // --skin-color5 : #f021b2;
  }