@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

body {
  margin: 0;
  padding: 0;
  direction: ltr;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

::-moz-selection {
  color: #fff;
  background-color: var(--skin-color);
}

::selection {
  color: #fff;
  background-color: var(--skin-color);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, right top, left top, from(rgba(51, 51, 51, 0.685)), to(#ddd));
  background: linear-gradient(to left, rgba(51, 51, 51, 0.685), #ddd);
  border-radius: 5px;
  height: 300px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, right top, left top, from(#333), to(#e8dfec));
  background: linear-gradient(to left, #333, #e8dfec);
}

::-webkit-scrollbar-track {
  background: #ddd;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.section.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  -webkit-animation: slideSection 1s ease;
          animation: slideSection 1s ease;
}

@-webkit-keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideSection {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: bold;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: auto;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #fff;
}

.loader {
  height: 100vh;
  width: 100vw;
  background-color: #ddd;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
}

.loader > div {
  height: 60px;
  width: 60px;
  border: 4px solid var(--text-black-900);
  border-top-color: var(--skin-color);
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 2px solid var(--bg-black-50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.aside.open {
  left: 0;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: -10px;
  left: -10px;
}

.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 45px;
  margin-right: 5px;
  color: var(--skin-color);
  font-weight: bold;
}

.aside .nav-toggler {
  height: 40px;
  width: 50px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.aside .nav-toggler.open {
  left: 300px;
}

.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler.open span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.aside .nav-toggler.open span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  left: 0;
}

.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
}

.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
}

.aside .nav li {
  margin-bottom: 25px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}

.style-switcher {
  position: fixed;
  right: 0;
  top: 65px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  z-index: 10000;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.style-switcher.open {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.style-switcher .s-icon {
  position: absolute;
  z-index: 20000;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 38px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 55px;
}

.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.style-switcher .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.style-switcher .color-1 {
  background: #ec1839;
}

.style-switcher .color-2 {
  background: #fa5b0f;
}

.style-switcher .color-3 {
  background: #37b182;
}

.style-switcher .color-4 {
  background: #1854b4;
}

.style-switcher .color-5 {
  background: #f021b2;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.home .home-info p {
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

.home .hello {
  font-size: 28px;
  margin: 15px 0;
}

.home .hello span {
  font-family: "Clicker Script", cursive;
  font-size: 30px;
  font-weight: bold;
  color: var(--skin-color);
}

.home .my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.home .typing {
  color: var(--skin-color);
}

.home .home-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home .home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: -20px;
  top: -40px;
}

.home .home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: -20px;
  bottom: -40px;
}

.home .home-img img {
  margin: auto;
  height: auto;
  max-width: 100%;
}

.about .about-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content .personal-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  font-weight: 700;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
}

.about .about-content .personal-info .info-item p span a {
  color: var(--skin-color);
}

.skills {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.skills .skill-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
}

.skills .skill-item:not(.top3Skills) {
  margin-top: 60px;
}

.skills .skill-item:hover img {
  -webkit-transform: rotateX(-45deg) rotateY(30deg);
          transform: rotateX(-45deg) rotateY(30deg);
}

.skills .skill-item .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.skills .skill-item .flex img {
  width: 15%;
  margin-right: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.skills .skill-item .flex h2 {
  font-size: 18px;
  color: var(--text-black-700);
  font-weight: 600;
  margin-bottom: 0;
}

.skills .skill-item .progress {
  background-color: #ddd;
  border-radius: 30px;
}

.skills .skill-item .progress .progress-bar {
  border-radius: 30px;
  height: 15px;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.skills .skill-item span {
  text-align: end;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins";
}

.skills .skill-item .html_prog {
  background: -webkit-gradient(linear, right top, left top, from(#f5af19), to(#f12711));
  background: linear-gradient(to left, #f5af19, #f12711);
}

.skills .skill-item .css_prog {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(13%, #430979), to(#09d4ff));
  background: linear-gradient(90deg, #020024 0%, #430979 13%, #09d4ff 100%);
}

.skills .skill-item .js_prog {
  background: -webkit-gradient(linear, right top, left top, from(#ee9b00), to(#fffc00));
  background: linear-gradient(to left, #ee9b00, #fffc00);
}

.skills .skill-item .Bootstrap_prog {
  background: -webkit-gradient(linear, left top, right top, from(#523c85), to(#673ab7));
  background: linear-gradient(to right, #523c85, #673ab7);
}

.skills .skill-item .Jquery_prog {
  background: -webkit-gradient(linear, left top, right top, from(royalblue), to(rgba(0, 0, 0, 0.753)));
  background: linear-gradient(to right, royalblue, rgba(0, 0, 0, 0.753));
}

.skills .skill-item .Ajax_prog {
  background: -webkit-gradient(linear, left top, right top, from(#92fe9d), to(#00c9ff));
  background: linear-gradient(to right, #92fe9d, #00c9ff);
}

.skills .skill-item .SASS_prog {
  background: -webkit-gradient(linear, left top, right top, from(#f15f79), to(#b24592));
  background: linear-gradient(to right, #f15f79, #b24592);
}

.skills .skill-item .Pugjs_prog {
  background: royalblue;
}

.skills .skill-item .Gulpjs_prog {
  background: -webkit-gradient(linear, left top, right top, from(#ef473a), to(#cb2d3e));
  background: linear-gradient(to right, #ef473a, #cb2d3e);
}

.skills .skill-item .Jest_prog {
  background: #81203fbe;
}

.skills .skill-item .React_js_prog {
  background: #36d1dc;
}

.skills .skill-item .GitHup_prog {
  background: -webkit-gradient(linear, left bottom, left top, from(#434343), to(#000000));
  background: linear-gradient(to top, #434343, #000000);
}

.portofolio .container {
  padding-bottom: 40px;
}

.portofolio .portofolio-heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portofolio .portofolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.portofolio .portofolio-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 30px;
}

.portofolio .portofolio-item .portofolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portofolio .portofolio-item .portofolio-item-inner:hover {
  border-radius: 200px;
}

.portofolio .portofolio-item .portofolio-item-inner:hover .portofolio-img .view {
  opacity: 1;
}

.portofolio .portofolio-item .portofolio-item-inner:hover .portofolio-img .view h6 {
  top: 50%;
  cursor: pointer;
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img {
  position: relative;
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img img {
  width: 100%;
  display: block;
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view h6 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view_burger {
  background: -webkit-gradient(linear, left top, right top, from(#434343), to(#000000));
  background: linear-gradient(to right, #434343, #000000);
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view_coza_store {
  background: -webkit-gradient(linear, left bottom, left top, from(#E7E9BB), to(#403B4A));
  background: linear-gradient(to top, #E7E9BB, #403B4A);
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view_go_study {
  background: -webkit-gradient(linear, left bottom, left top, from(#fc6767), to(#ec008c));
  background: linear-gradient(to top, #fc6767, #ec008c);
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view_coffe {
  background: -webkit-gradient(linear, left bottom, left top, from(#414345), to(#232526));
  background: linear-gradient(to top, #414345, #232526);
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view_business {
  background: -webkit-gradient(linear, left top, right top, from(#2c3e50), to(#bdc3c7));
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view_tast_it {
  background: -webkit-gradient(linear, left bottom, left top, from(#f5af19), to(#f12711));
  background: linear-gradient(to top, #f5af19, #f12711);
}

.contact .contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  width: 100%;
}

.contact .contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  width: 100%;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon {
  display: inline-block;
}

.contact .contact-info-item .icon i {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
          box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item .btn {
  height: 50px;
  padding: 0 50px;
}

.contact .contact-form .form-item .btn:active {
  position: relative;
  top: 5px;
}

.contact .contact-form .form-item .btn:focus {
  -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
          box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 200px;
}

@media (max-width: 1199px) {
  html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }
  .section .container {
    padding-top: 70px;
  }
  .aside {
    left: -270px;
  }
  .aside .nav-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 30px;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .home .home-info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home .home-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px auto 30px;
  }
  .home .home-img::before {
    height: 50px;
    width: 50px;
    left: 20px;
    top: -20px;
  }
  .home .home-img::after {
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: -20px;
  }
  .home .home-img img {
    width: 60%;
    height: auto !important;
  }
  .skills .skill-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 60px;
  }
  .skills .skill-item:not(.top3Skills) {
    margin-top: 0 !important;
  }
  .portofolio .portofolio-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 0) and (max-width: 1300px) {
  .aside {
    left: -270px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .aside .logo {
    position: relative !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
  }
  .aside.open {
    width: 100vw !important;
    left: 0 !important;
  }
  .aside .nav-toggler.open {
    left: 570px !important;
  }
}

@media (max-width: 576px) {
  .aside {
    left: -270px;
  }
  .aside.open {
    width: 100vw;
    left: 0;
  }
  .aside .nav-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .typing {
    font-size: 25px;
  }
  .home .btn {
    position: relative;
    top: -7px;
  }
  .about .about-content .about-text h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .about .about-content .about-text h3 span {
    font-size: 22px;
  }
  .about .about-content .personal-info .info-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .personal-info .info-item p span {
    margin-left: 0;
  }
  .about .btn {
    position: relative;
    top: -5px;
  }
  .skills .skill-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view h6 {
    font-size: 25px;
  }
  .contact .contact-title {
    font-size: 22px;
  }
  .contact .contact-info-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .contact .contact-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .contact .contact-form .form-item {
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .contact .contact-form .form-item textarea.form-control {
    height: 300px;
  }
}

@media (max-width: 550px) {
  .aside {
    left: -270px;
  }
  .aside.open {
    width: 100vw;
    left: 0;
  }
  .aside .nav-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside .nav-toggler.open {
    left: 400px;
  }
}

@media (max-width: 450px) {
  .aside .nav-toggler.open {
    left: 300px;
  }
}

@media (max-width: 420px) {
  .aside .nav-toggler.open {
    left: 345px;
  }
}

@media (max-width: 394px) {
  .aside .nav-toggler.open {
    left: 320px;
  }
  .home .typing {
    font-size: 25px;
  }
  .home .btn {
    position: relative;
    top: -30px;
  }
  .about .about-content .personal-info .info-item p {
    font-size: 12px;
  }
  .portofolio .portofolio-item .portofolio-item-inner .portofolio-img .view h6 {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .aside .nav-toggler.open {
    left: 300px;
  }
  .home .typing {
    font-size: 17px;
    font-weight: bold;
  }
}

@media (max-width: 330px) {
  .aside .nav-toggler.open {
    left: 260px;
  }
}

@media (max-width: 290px) {
  .aside .nav-toggler.open {
    left: 220px;
    top: 3px;
  }
}
/*# sourceMappingURL=main.css.map */