// ======================= Start Sass ======================= //

// ======================= 1- Global Rules Files ======================= //

// Imoport Global Rules
@import "./Sass/Global/global-rules";

// Import Global Lodaing Logo
@import "./Sass/Global/loading";

// ======================= 2- Page Component Files ======================= //

// Import Aside
@import "./Sass/Page_Components/Aside";

// Import Style Switcher
@import "./Sass/Page_Components/style-switcher";

// Import Home
@import "./Sass/Page_Components/Home";

// Import About
@import "./Sass/Page_Components/About";

// Import Skills
@import "./Sass/Page_Components/Skills";

// Import Portofolio
@import "./Sass/Page_Components/Portofolio";

// Import Contact
@import "./Sass/Page_Components/Contact";

// ======================= 3- Responseve Files ======================= //

// Import Resposeve file
@import "./Sass/Resposeve/for_Resposeve";

// ======================= End Sass ======================= //


.bar
  width: 10px
  float: left
  background: red
    
@for $i from 1 through 50
  .bar:nth-child(#{$i})
    height: random(200) + px