@media (max-width:1199px) {
  html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .section {
    left: 0;

    &.open {
      left: 270px;
    }

    .container {
      padding-top: 70px;
    }
  }

  .aside {
    left: -270px;

    .nav-toggler {
      display: flex;
      left: 30px;
    }
  }

  // About
  .about {
    .about-content {
      .personal-info {
        .info-item {
          p {
            span {
              display: block;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width:991px) {

  // Home
  .home {
    .home-info {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 auto;
      order: 2;
    }

    .home-img {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
      margin: 20px auto 30px;

      &::before {
        height: 50px;
        width: 50px;
        left: 20px;
        top: -20px;
      }

      &::after {
        height: 50px;
        width: 50px;
        right: 20px;
        bottom: -20px;
      }

      img {
        width: 60%;
        height: auto !important;
      }
    }
  }

  // Skills
  .skills {
    .skill-item {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 60px;

      &:not(.top3Skills) {
        margin-top: 0 !important;
      }
    }
  }

  // Portofolio
  .portofolio {
    .portofolio-item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

// Land Scape Screen
@media (min-width:600px) and (max-width:700px) {

  // Aside
  .aside {
    left: -270px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .logo {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

    }

    &.open {
      width: 100vw;
      left: 0;

    }

    .nav-toggler {
      &.open {
        left: 570px;
      }

    }
  }
}

@media (max-width:576px) {

  // Aside
  .aside {
    left: -270px;

    &.open {
      width: 100vw;
      left: 0;

    }

    .nav-toggler {
      display: flex;

    }
  }

  // Home
  .home {
    .typing {
      font-size: 25px;
    }

    .btn {
      position: relative;
      top: -7px;
    }
  }

  // About
  .about {
    .about-content {
      .about-text {
        h3 {
          font-size: 30px;
          margin-bottom: 20px;

          span {
            font-size: 22px;
          }
        }
      }

      .personal-info {
        .info-item {
          flex: 0 0 100%;
          max-width: 100%;

          p {
            span {
              margin-left: 0;
            }
          }
        }
      }
    }

    .btn {
      position: relative;
      top: -5px;
    }
  }

  // Skills

  .skills {
    .skill-item {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 50px;
    }
  }


  // portofolio
  .portofolio {
    .portofolio-item {
      .portofolio-item-inner {
        .portofolio-img {
          .view {
            h6 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  // Contact
  .contact {
    .contact-title {
      font-size: 22px;
    }

    .contact-info-item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .contact-form {
      flex: 0 0 100%;
      max-width: 100%;

      .form-item {
        margin-bottom: 30px;
        flex: 0 0 100%;
        max-width: 100%;

        textarea.form-control {
          height: 300px;
        }
      }
    }
  }
}


@media (max-width:550px) {

  // Aside
  .aside {
    left: -270px;

    &.open {
      width: 100vw;
      left: 0;

    }

    .nav-toggler {
      display: flex;

      &.open {
        left: 400px;
      }

    }
  }

}

@media (max-width:450px) {

  // Aside
  .aside {
    .nav-toggler {
      &.open {
        left: 300px;
      }
    }
  }
}

@media (max-width:420px) {

  // Aside
  .aside {
    .nav-toggler {
      &.open {
        left: 345px;
      }
    }
  }
}

@media (max-width:394px) {

  // Aside
  .aside {
    .nav-toggler {
      &.open {
        left: 320px;
      }
    }
  }

  // Home
  .home {
    .typing {
      font-size: 25px;
    }

    .btn {
      position: relative;
      top: -30px;
    }
  }

  // About
  .about {
    .about-content {
      .personal-info {
        .info-item {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  // portofolio
  .portofolio {
    .portofolio-item {
      .portofolio-item-inner {
        .portofolio-img {
          .view {
            h6 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:360px) {

  // Aside
  .aside {
    .nav-toggler {
      &.open {
        left: 300px;
      }
    }
  }

  // Home
  .home {
    .typing {
      font-size: 17px;
      font-weight: bold;
    }
  }
}

@media (max-width:330px) {

  // Aside
  .aside {
    .nav-toggler {
      &.open {
        left: 260px;
      }
    }
  }
}



@media (max-width:290px) {

  // Aside
  .aside {
    .nav-toggler {
      &.open {
        left: 220px;
        top: 3px;
      }
    }
  }
}